extends base

block content
  main.main
    .user-view
      .user-view__content
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Your Account Settings
          
          //- فورم تحديث البيانات
          form.form.form-user-data
            .form__group
              label.form__label(for='name') Name
              input#name.form__input(type='text', value=user.name, required)
            .form__group.ma-bt-md
              label.form__label(for='email') Email address
              input#email.form__input(type='email', value=user.email, required)
            
            .form__group.form__photo-upload
              img.form__user-photo(src=`/img/users/${user.photo || 'default.jpg'}`, alt='User photo')
              
              input.form__upload(type='file', accept='image/*', id='photo', name='photo')
              label(for='photo') Choose new photo
            
            .form__group.right
              button.btn.btn--small.btn--green Save settings
              
        .line &nbsp;
        
        .user-view__form-container
          h2.heading-secondary.ma-bt-md Password Change
          
          form.form.form-user-password
            .form__group
              label.form__label(for='password-current') Current password
              input#password-current.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group
              label.form__label(for='password') New password
              input#password.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.ma-bt-lg
              label.form__label(for='password-confirm') Confirm password
              input#password-confirm.form__input(type='password', placeholder='••••••••', required, minlength='8')
            .form__group.right
              button.btn.btn--small.btn--green.btn--save-password Save password


          if user.role === 'admin'
            .admin-nav
              h5.admin-nav__heading(style="margin-top: 2rem; margin-bottom: 1rem; margin-left: 2rem; color: #777; text-transform: uppercase; font-size: 1.2rem;") Admin Panel
              ul.side-nav
                li
                  a(href='/admin')
                    span(style="margin-right: 10px") ⚙️
                    | Dashboard
                li
                  a(href='/create-meal')
                    span(style="margin-right: 10px") 🍔
                    | Add Meal    