extends base

block content
  main.main
    .login-form
      h2.heading-secondary.ma-bt-lg Reset your password
      p(style="margin-bottom: 20px; font-size: 1.6rem;") Enter your email address and we will send you a link to reset your password.
      
      form.form.form--forgot-password
        .form__group
          label.form__label(for='email') Email address
          input#email.form__input(type='email', placeholder='you@example.com', required)
        
        .form__group
          button.btn.btn--green Send Reset Link